
.home-nav-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.view-activities-rectangle{
    border: 0.94rem;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: rgba(239, 71, 111, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.view-activities-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;

}
 
.add-activities-rectangle{
    border: 0.94rem;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: rgba(255, 209, 102, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   

}

.add-activities-link{
    
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;

}

.suggest-activities-rectangle{
    border: 0.94rem;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: rgba(56, 199, 245, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.suggest-activities-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;

}

.my-child-rectangle{
    border: 0.94rem;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #1280A5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);



}

.my-child-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;


}