
.view-activities-rectangle{
    position: absolute;
    padding: 686px 963px 1022px 192px;
    border: 0.94rem;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: rgba(239, 71, 111, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.view-activities-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;

}
 
.add-activities-rectangle{
    padding: 42.9rem 11.9rem 63.9rem 60.3rem;
    border: 0.94rem;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: rgba(255, 209, 102, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);   

}

.add-activities-link{
    
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;

}

.suggest-activities-rectangle{
    padding: 63.6rem 60.1rem 43.2rem 12.1rem;
    border: 0.94rem;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: rgba(56, 199, 245, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.suggest-activities-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;

}

.my-child-rectangle{
    padding: 63.6rem 12.3rem 43.2rem 60.3rem;
    border: 0.94rem;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #1280A5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);



}

.my-child-link{
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.75rem; /* 150% */
    letter-spacing: -0.125rem;


}