
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<body class="container">



<form method="post">

    <!-- <th:block th:each="activity : ${Activities}">
        <div class="form-group">
            <label>
                <span th:text="${activity.name}"></span>
                <input type="checkbox" name="id" th:value="${activity.id}" class="form-control">
            </label>
        </div>
    </th:block> -->

    <th:block th:each="activity : ${Activities}">
        <div class="form-group">
            <label>
                <span th:text="${activity}"></span>
                <input type="checkbox" name="activity" th:value="${activity}" class="form-control">
            </label>
        </div>
    </th:block>


    <input type="submit" value="Delete Selected Activities" class="btn btn-danger">
</form>

</body>
</html>