.App {
  text-align: center;
  background: white;
  width: 108rem;
  height: 123.5625rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hwb(0 100% 0%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(11, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.charts {
  width: 150px;
  height: 150px;
}

.blue-rectangle {
  z-index: 1;
  position:relative;
  width: 1728px;
  height: 300px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #38C7F5 0%, #06D6A6 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.orange-rectangle{
  width: 1728px;
  height: 439px;
  flex-shrink: 0;
  background: linear-gradient(180deg, #EF476F 0%, #FFDD85 100%);
}
